* {
  margin: 0;
  padding: 0;
}

body {
font-family: 'Roboto', sans-serif;
color: #1D2964;
background-color: #F5F5F5;
}


.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, minmax(110vh, auto));
  grid-template-areas: 'home' 'aboutMe' 'projects';
  justify-content: center;

}

.nav {
  grid-area: nav;
  display: grid;
  position: fixed;
  top: 0;
}

nav {
  background-color: #7d7c7c;

  display: none;
  grid-template-rows: auto auto 1fr;
  justify-content: center;
  width: 50vw;
  height: 100vh;
}

nav * {
margin: 1em auto;
}

nav h3 {
  font-size: 3vw;
}

nav img {
  height: 20vw;
  border-radius: 50%;
}

nav ul {
  list-style-type: none;
}

nav li {
  padding: 1em;
  background-color: #5f8592;
  border-radius: 1em;
  box-shadow: 4px 4px 20px 0px #5a5858;
}

nav li a{
  text-decoration: none;
  font-size: 2em;
  padding: 1.5em;
  color: #1D2964;
}

#profile {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.active {
  display: grid;
}

#hamburger {
  height: 3rem;
  padding: 1rem;
  justify-content: end;
  grid-column: 12;
  cursor: pointer;
  position: fixed;
  top: 0;
  right:0;

}

#boarder {
  position:absolute;
}

.grid-container > * {
  display: grid;
  grid-template-columns: 80%;
  grid-auto-rows: min-content;
  justify-content: space-evenly;

}

.home {
  grid-area: home;
  grid-template-areas: 'title' 'description' 'icon';
  gap: 1rem;
  align-content: center;
  background: url('../img/home.svg') no-repeat;
}

.home h3 {
  font-size: 3vw;
}

.home img {
  padding: 0 .2rem;
}

.title {
  grid-area: title;
  font-size: 9vw;

}

.description {
  grid-area: description;
}

.icon {
  grid-area: icon;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  justify-content: start;
}

.icon img {
  height:5vw;
}

.aboutMe {
  grid-area: aboutMe;
  grid-template-areas: 'title' 'content';
  gap: 1rem;
}

.content {
  font-size: 2rem;
}

.projects {
  grid-area: projects;
  grid-template-areas: 'title' 'tiles';
  gap: 3em;
  background: url("../img/projects.svg") no-repeat;
  background-position: bottom right;

}

.tiles {
  grid-area: tiles;
  display: grid;
  grid-template-columns: 75vw;
  grid-auto-rows: 75vw;
  gap: 4em;
  justify-content: center;
  margin-bottom: 10vh;
}


.tile {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSI+CiAgPHBhdGggZD0iTTAgNCBMMCAyOCBMMzIgMjggTDMyIDQgeiBNNCAyNCBMMTAgMTAgTDE1IDE4IEwxOCAxNCBMMjQgMjR6IE0yNSA3IEE0IDQgMCAwIDEgMjUgMTUgQTQgNCAwIDAgMSAyNSA3Ij48L3BhdGg+Cjwvc3ZnPg==") no-repeat center hsl(0, 0%, 80%);
  border-radius: 25px;
  box-shadow: 4px 4px 20px 0px #b9bcc9;
  width: 20em;
  height: 20em;
  display:grid;
  justify-content: center;
  align-content: center;
}

.tile h4 {
  font-size: 2em;
  margin: auto;
}

.tile a {
  text-decoration: none;

}

.tile p {
  display: none;
  color: #000;
  height: 15vw;
  width:15vw;
  overflow-y: hidden;
}

#bottom {

  display: absolute;
  bottom: 0;

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .tiles {
    grid-template-columns: 40vw 40vw;
    grid-auto-rows: 40vw;
  }
}

@media only screen  and (min-width : 1025px) {
  .tiles {
    grid-template-columns: 25vw 25vw 25vw;
    grid-auto-rows: 25vw;
  }

  .tile p {
    display: block;
  }
}
