* {
  margin: 0;
  padding: 0;
}

body {
font-family: 'Roboto', sans-serif;
color: #1D2964;
background-color: #F5F5F5;
}


.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, minmax(100vh, auto)); /*100vh 100vh 100vh;*/
  grid-template-areas: 'home' 'aboutMe' 'projects';
  justify-content: center;

}

.grid-container > div {
  padding: 3em 0;
}

.nav {
  grid-area: nav;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(12, 1fr);
  /* background-color: red; */
  position: fixed;
  top: 0;
}

nav {
  grid-column: 1 / span 7;
  background-color: #7d7c7c;

  display: none;
  grid-template-rows: auto auto 1fr;
  justify-content: center;
}

nav * {
margin: 1em auto;
}

nav h3 {
  font-size: 2em;
}

nav img {
  height: 20vh;
  border-radius: 50%;
}

nav ul {
  list-style-type: none;
}

nav li {
  padding: 1em;
  background-color: #5f8592;
  border-radius: 1em;
}

nav li a{
  text-decoration: none;
  font-size: 2em;
  padding: 1.5em;
  color: #1D2964;
}

#profile {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.active {
  display: grid;
}

#hamburger {
  height: 3rem;
  padding: 1rem;
  justify-content: end;
  grid-column: 12;
  cursor: pointer;
}

#boarder {
  position:absolute;
}

.home {
  grid-area: home;
  /* background-color: orange; */
  display: grid;
  grid-template-columns: 80%;
  grid-auto-rows: min-content;
  grid-template-areas: 'title' 'description' 'icon';
  gap: 1rem;
  align-content: center;
  justify-content: space-evenly;
  background: url('top.svg') no-repeat;
}

.home h3 {
  font-size: 2rem;
}

.home img {
  padding: 0 .2rem;
}

.title {
  grid-area: title;
  font-size: 6rem;

}

.description {
  grid-area: description;
}

.icon {
  grid-area: icon;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  justify-content: start;
}

.icon a {
  text-decoration: none;
}

#github {
    height:3rem;
    cursor: pointer;
}

#linkedin {
  height:3rem;
  cursor: pointer;
}

.aboutMe {
  grid-area: aboutMe;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-areas: 'title' 'content';
  /* background-color: yellow; */
  gap: 1rem;
  /* align-content: center; */
}

.content {
  font-size: 2rem;
}

.projects {
  grid-area: projects;
  display: grid;
  /* background-color: blue; */
  grid-auto-rows: min-content;
  grid-template-areas: 'title' 'tiles';
  gap: 1em;
}

.tiles {
  grid-area: tiles;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 2em;
  justify-content: space-between;
}


.tile {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSI+CiAgPHBhdGggZD0iTTAgNCBMMCAyOCBMMzIgMjggTDMyIDQgeiBNNCAyNCBMMTAgMTAgTDE1IDE4IEwxOCAxNCBMMjQgMjR6IE0yNSA3IEE0IDQgMCAwIDEgMjUgMTUgQTQgNCAwIDAgMSAyNSA3Ij48L3BhdGg+Cjwvc3ZnPg==") no-repeat center hsl(0, 0%, 80%);
  border-radius: 25px;
  box-shadow: 4px 4px 20px 0px #b9bcc9;
  width: 35vw;
  height: 35vh;
  display:grid;
  align-content: center;
  justify-content: center;

}

.tile h4 {
  font-size: 2em;
}

#bottom {

  display: absolute;
  bottom: 0;

}
